# Original at: https://github.com/scala/scala/blob/master/.gitattributes
# fallback on built-in heuristics
# this must be first so later entries will override it
* text=auto

# For most text files lets just use LF
*.c          eol=lf
*.check      eol=lf
*.conf       eol=lf
*.cpp        eol=lf
*.css        eol=lf
*.flags      eol=lf
*.go         eol=lf
*.html       eol=lf
*.js         eol=lf
*.md         eol=lf
*.policy     eol=lf
*.properties eol=lf
*.rs         eol=lf
*.sbt        eol=lf
*.scala      eol=lf
*.sh         eol=lf
*.toml       eol=lf
*.txt        eol=lf
*.xml        eol=lf

# Windows-specific files get windows endings
*.bat     eol=crlf
*.cmd     eol=crlf

# Some binary file types for completeness
# (binary is a macro for -text -diff)
*.so      binary
*.dll     binary
*.gif     binary
*.jar     binary
*.jpg     binary
*.png     binary
